<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
	</head>
	<body>
		<a href="/">首页</a>
        <a href="/about">关于</a>
        <a href="/blog">博客页面</a>
		<ul>
      		<li><a href="/posts/post-1/">文章 1</a></li>
			<li><a href="/posts/post-2/">文章 2</a></li>
            <li><a href="/posts/post-3/">文章 3</a></li>
    	</ul>
  
        <div>博客页面</div>
	</body>
</html>